.app-home{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f6f6f6;
  display:grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1fr 13fr;
  grid-template-areas: "sidebar header"
                        "sidebar body";
                        overflow: hidden;
}

.auth-screen{
  width: 100%;
  height:100vh;
  background-color: #fafafa;
  display: flex;
  align-items:center;
  justify-content:center;
}
.auth-box{
  width: 350px;
  height: 350px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-box img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  
}
.auth-button{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.auth-button button{
  width: 90%;
  margin:10px auto;
  height:45px;
  display:flex;
  align-items:center;
  justify-content: center;
  gap:10px;
  font-weight: 500;
  cursor: pointer;
}

.auth-button button:nth-child(1){
  background-color:#fff;
  border: 0;
  outline:0;
  color: #444444;
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.115);
 }
.auth-button button:nth-child(2){
 background-color:#262626;
 border: 0;
 outline:0;
 color: #d4d5d7;
 box-shadow: 1px 0px 30px 10px rgba(126, 126, 126, 0.115);
}

@media (prefers-color-scheme: dark) {
  .App{
    background-color:#262626;
  }
  .account-header{
    background-color:#2a2f32 !important;
    color: #d4d5d7 !important;
  }
  .account-header svg{
    color: #d4d5d7 !important;
  }
  .group-list{
    background-color: #323739 !important;
    color: #f1f1f2;
  }
  .group-list:hover{
    background-color: #3237398f !important;
  }
  .chat-searchbar{
    background-color: #131c21 !important;
  }
  .chat-search-main{
    background-color: #323739 !important
  }
  .chat-search-main svg{
    color: #d4d5d7 !important
  }
  .header{
    background-color:#2a2f32 !important;
    border: 0 !important;
    color: #d4d5d7;
  }
  .header svg{
    color: #d4d5d7;
  }
  .sidebar{
    border: 0 !important;
  }
  .chat-body{
    background-image: url(https://web.whatsapp.com/img/bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d.png) !important;
    background-color:#0d1418 !important;
  }
  .footer-chat{
background-color:#1e2428 !important; 
  }
  .footer-chat svg{
    fill: #d4d5d7;
    color: #d4d5d7;
  }
  .profileBar{
    background-color: #323739 !important;
  }
  .profile--name--form,.profile--about--form{
    background-color: #323739 !important;
    color: #e1e1e3;
  }
  .popover-options{
    background-color: #323739 !important;
    color: #e1e1e3;
  }
  .form-field input{
    color: #d4d5d7 !important;
  }
  .photo-view{
background-color: #131c21 !important;
opacity: 96.5% !important;
  }
  .camera-modal-footer{
    background-color: #131c21 !important;
    
  }
  .emoji-list{
    background-color: #131c21 !important;
  }
  .emoji--search{
    background-color: #262d31 !important
  }
  .footer-content input{
background-color:#33383b !important
  }
  .user-chat{
    background-color: #262d31 !important;
    color: #f1f1f2;
    opacity: 95% !important;
  }
}

/* @media (prefers-color-scheme: light) {
  .App{
    background-color:red;
  }
} */


